@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-button-next, .swiper-rtl .swiper-button-prev {
  color: white !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  color: white !important;
}

textarea {
  resize: none;
}